.container
  .row
    .col-md-12
      %h1
        = "Secret Santa #{ @year.year }"
      %ol.breadcrumb
        %li
          %a{ href: root_path }
            Home
        %li.active
          Results
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          Secret Santa List
        %table.table
          %thead
            %tr
              %th
              %td.text-center
                %h4 Recipient
              %td.text-center
                %h4 Secret Santa
              %td.text-center
                %h4
                  = "Secret Santa #{@year.year - 1}"
          %tbody
            - @year.secret_santa.each_with_index do |secret_santa, index|
              %tr
                %th
                  = index + 1
                %td.text-center
                  = secret_santa.participant.full_name
                %td.text-center
                  = secret_santa.full_name
                %td.text-center
                  = secret_santa.last_year.full_name if secret_santa.last_year
